[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "lib/solidity-lib"]
	path = lib/solidity-lib
	url = https://github.com/Uniswap/solidity-lib
[submodule "lib/v2-core"]
	path = lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "lib/v3-staker"]
	path = lib/v3-staker
	url = https://github.com/Uniswap/v3-staker
[submodule "lib/swap-router-contracts"]
	path = lib/swap-router-contracts
	url = https://github.com/Uniswap/swap-router-contracts
